html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #DAD5D1;
}

*   {
    border: 0px dotted blue;
}

#nav-primary-menu   {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0px;
    background-color: #523A28;
    list-style-type: none;
}

header  {
    justify-content: center;
    text-align: center;
}

ul  {
    text-align: center;
    list-style-type: none;
    padding: 20px;
}

#about  {
    text-align: center;
}

.footer     {
    text-align: center;
    justify-content: center;
}

.down-below {
    text-align: center;
    background-color: #857568;
    padding: 20px;
    border: 2px dotted black;
}

.nav-item   {
    color: white;
    padding: 10px 25px;
}

li > a:link  {
    color: white;
    text-decoration: none;
}

.nav-item:hover    {
    background-color: #857568;
}

.info   {
    color:#DAD5D1;
}

.links > li {
    display: block;
    border: 2px dotted white;
    padding: 20px;
}

.links  {
    border: 2px dotted red;
    display: flex;
    justify-content: center;
}

#email:link    {
    color: white;
    text-decoration: none;
}